[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BIFIEsurvey"]
	path = BIFIEsurvey
	url = https://github.com/konradoberwimmer/bifiesurvey
